@charset "utf-8";
/* CSS Document */

body {
	background-color:#000;
	background-image:url(../images/fondo_img_web.jpg);
	background-position:center;
	background-position:top;
	background-repeat:no-repeat;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}