@charset "utf-8";
/* CSS Document */

#cont_buscador {
	background-image:url(../images/bg_textbox.png);
	background-repeat:no-repeat;
	width:225px;
	height:25px;
}

#contenedor_global{
	width:900px;
	margin:auto;
	height:100%;
	position:relative;

	}

#contenedor_idioma{
	width:20%;
	position:relative;
	margin-left:auto;
	}

#contenedor_cabecera{
	width:100%;
	margin:auto;
	height:123px;
	position:relative;
	}

#contenedor_logotipo{
	width:340px;
	position:relative;
	float:left;
	}

#contenedor_botonera{
	width:560px;
	position:relative;
	float:left;
	margin-top:auto;
	margin-bottom:auto;
	}



#contenedor_banners{
	width:100%;
	margin:auto;
	position:relative;
	}

#contenedor_botonerav{
	width:250px;
	left:0px;
	position:relative;
	float:left;
	}

#contenedor_promo{
	width:644px;
	position:relative;
	margin-top:10px;
	margin-left:6px;
	float:left;
	}

#contenedor_cuerpo_info{
	width:900px;
	float:left;
	margin-top:5px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.25);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.25);  
	}
#contenedor_info_sec_01{
	float:left;
	}

#contenedor_info_sec_01_admin{
	background-color:#333;
	float:left;
	}

#contenedor_info{


	width:600px;
	left:0px;
	position:relative;
	float:left;
	}

#contenedor_info_catalogos{


	width:900px;
	left:0px;
	position:relative;
	float:left;
	}
	
#contenedor_info_admin{
	background-color:#FFF;
	background-image:url(../images/bg_cuerpo_info.jpg);
	background-repeat:repeat-x;
	width:600px;
	left:0px;
	position:relative;
	float:left;
	}

	
#contenedor_publicidades{
	width:300px;
	right:0px;
	position:relative;
	float:left;
	background-color:#333;
	
	}

#contenedor_info_sec_02{


	float:left;
	width:100%;
	height:170px;
	}

#contenedor_minidobleinfo_01{
	width:17px;
	height:100%;
	position:relative;
	float:left;
	background-image:url(../images/bg_pie_01.png);
	background-repeat:repeat-x;
	}

#contenedor_minidobleinfo_02{
	width:600px;
	height:100%;
	position:relative;
	float:left;
	background-image:url(../images/bg_pie_fondo.jpg);
	background-repeat:repeat-x;
	}

#contenedor_miniinfo_01{
	width:298px;
	height:100%;
	position:relative;
	float:left;
	}

#contenedor_miniinfo_02{
	width:299px;
	height:100%;
	position:relative;
	float:left;

	}

#contenedor_miniinfo_03{
	width:300px;
	height:100%;
	position:relative;
	float:left;
	background-image:url(../images/bg_pie_fondo_ng.jpg);
	background-repeat:repeat-x;
	}

#contenedor_info_sec_03{

	float:left;
	}
	
#contenedor_enlaces_aso{
	width:650px;
	left:0px;
	position:relative;
	float:left;
	}
	
#contenedor_enlaces_pre{
	width:250px;
	right:0px;
	position:relative;
	float:left;
	}
	

#contenedor_pie_pagina{
	background-color:#666;
	float:left;
	}
	
#contenedor_derechos{
	width:450px;
	left:0px;
	position:relative;
	float:left;
	}
	
#contenedor_enlaces_pie{
	width:350px;
	right:0px;
	position:relative;
	float:right;
	}
	
#contenedor_pub{
	margin:10px;
	}

#contenedor_pub_separador{
	margin-top:10px;
	margin-bottom:10px;
	background-image:url(../images/pub_separador.gif);
	background-repeat:repeat-x;
	height:3px;
	}
	
#contenedor_promo_int{
	margin-bottom:10px;
	background-color:#fff;
	border:1px solid #fff;
	}

#contenedor_promo_int:hover{
	margin-bottom:10px;
	background-color:#f6f6f6;
	border:1px solid #ccc;
	}


#contenedor_autos_int{
	margin-bottom:10px;
	background-color:#ffffff;
	border:1px solid #ffffff;
	}

#contenedor_autos_int:hover{
	margin-bottom:10px;
	background-color:#f1f1f1;
	border:1px solid #CCC;
	}
	
#contenedor_img{
	border:0px solid #000;
	width:100%;



	}
#contenedor_img:hover{
	border:0px solid #000;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,1);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,1);
	cursor:hand;
	}

#contenedor_promo{
	border:0px solid #000;
	width:270px;



	}
#contenedor_promo:hover{
	border:0px solid #000;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,1);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,1);
	cursor:hand;
	}