@charset "utf-8";
/* CSS Document */

.texto_mini_gris{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#999;
	
	}

.enlaces_gris{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#ccc;
	text-decoration:none;
	}
	
.enlaces_gris:hover{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#fff;
	text-decoration:underline;
}

.enlaces_negro{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#333;
	text-decoration:none;
	}
	
.enlaces_negro:hover{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#000;
	text-decoration:underline;
}



.enlaces_mini_rojo{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#900;
	text-decoration:none;
	}
	
.enlaces_mini_rojo:hover{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#900;
	text-decoration:underline;
}

.enlaces_mini_gris{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#999;
	}
	
.enlaces_mini_gris:hover{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#f9f9f9;
	}
	
.texto_mini_negro{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	text-align:justify;
	color:#000;
	}

.texto_mini_rojo{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#900;
	text-decoration:none;
	}

.texto_mini_amarillo{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#FC0;
	text-decoration:none;
	}

.texto_mini_gris{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#999;
	text-decoration:none;
	}

.titulo_gris{
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	}

.titulo_blanco{
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	}
	
.titulo_amarillo{
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#FC0;
	}

.titulo_darkgris{
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#ddd;
	}

.titulo_blanco_promo{
	font-family:Verdana, Geneva, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#FFF;
	}

.titulo_gris_promo{
	font-family:Verdana, Geneva, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#CCC;
	text-decoration:line-through;
	}

.subtitulo_negro{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#000;
	}


.subtitulo_ligthgris{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	}

.subtitulo_rojo{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#900;
	}

.texto_gris{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	text-align:justify;
	color:#ccc;

	}
	
.texto_ligthgris{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	text-align:justify;
	color:#ccc;

	}
	
.texto_blanco{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	text-align:justify;
	color:#fff;
	list-style-image:url(../images/vineta_rj.png);
	}
	
.texto_negro{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	text-align:justify;
	color:#000;
	}
